@use "../../assets/styles/variables" as *;

.services-container {
  // direction: rtl;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: $padding-main;
  gap: $gap-large;
  h1 {
    font-size: $hero-title;
    letter-spacing: 2px;
    font-style: oblique;
    text-align: center;
  }
  .services-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: $gap-large;
    .card {
      border: 1px solid #fff;
      border-radius: 10px;
      height: 300px;
      background-color: #ffffff1a;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: $gap-medium;
      padding: $padding-card;
      .card-img {
        padding: 8px 12px;
        border-radius: 8px;
        background-color: #608bc1;
        .img {
          &.spin {
            animation: spin 3s linear infinite;
          }
        }
      }
      .card-title {
        font-size: $font-lg;
        font-weight: bold;
        direction: rtl;
      }
      .card-subtitle {
        font-size: $font-size-base;
        text-align: right;
        direction: rtl;
      }
      .card-list {
        direction: rtl;
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .services-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
  }
}
@media (max-width: 640px) {
  .services-cards {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    width: 100%;
    
    .card {
      border: 2px solid #fff !important;
      border-radius: 10px !important;
      background-color: #ffffff1a !important;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3) !important;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      height: auto !important;
      min-height: 300px !important;
      width: 100% !important;
      display: flex !important;
    }
  }
}

@media (max-width: 430px) {
  .services-cards {
    .card {
      height: auto !important;
      min-height: 350px !important;
      border: 2px solid #fff !important;
      background-color: #ffffff1a !important;
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
