@use "../../assets/styles/variables" as *;

.project-container {
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  direction: rtl;


  .project-ul {
    display: flex;
    flex-direction: column;
    gap: $gap-xl;

    .project-list-item {
      width: 500px;
      height: 300px;
      position: relative;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $fifth-color;
        transform: translateX(-100%);
        transition: transform 0.6s ease;
        z-index: 2;
      }

      &:hover {
        &::before {
          transform: translateX(0);
        }

        .project-content {
          transform: scale(1.2);
          right: 50px;
          opacity: 1;
        }
      }

      .project-content {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        opacity: 0;
        transition: all 0.6s ease;

        .project-title {
          font-size: $font-lg;
        }

        .project-subtitle {
          font-size: $font-md;
        }

        .project-button {
          background: linear-gradient(270deg, #f06449, #ef3636);
          border-radius: 6px;
          padding: 7px 20px;
          width: fit-content;
          transition: all 0.6s ease;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 10px;
          cursor: pointer;

          .arrow {
            transition: transform 0.6s ease;

          }

          &:hover .arrow {
            transform: translateX(-15px);
          }

        }
      }

      .project-img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .project-btn {
    padding: 10px;
    font-size: 16px;
    background-color: #0077ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #005fcc;
    }
  }
}


@media (max-width: 640px) {
  .project-list-item {
    width: 100% !important;
    height: unset !important;
  }
}

@media (max-width: 430px) {
  .project-list-item {
    width: 100% !important;
    height: 170px !important;

    &::before {
      display: none;

    }


    .project-content {
      transform: none !important;
      opacity: 1 !important;
      right: unset;
      top: unset !important;
      margin: 10px 0; // optional spacing
      display: flex;
      flex-direction: column;
      .project-subtitle {
        margin-bottom: 60px;
      }
    }

    .project-button .arrow {
      transform: none !important; // remove hover animation
    }
  }
}