@use "../../assets/styles/variables" as *;

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 110px 40px;
  direction: rtl;

  .hero-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 10px;
    flex: 2;
    z-index: 999;

    h1 {
      font-size: $hero-title;
      letter-spacing: 2px;
      font-style: oblique;
    }

    p {
      width: 70%;
      font-size: $font-size-base;
    }
    .btn-primary {
      text-decoration: none;
    }
  }

  .hero-img {
    flex: 1;

    img {
      width: 500px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero-container {
    .hero-img {
      img {
        width: 300px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .hero-content {
    h1 {
      font-size: $font-lg !important;
    }
  }
}

@media screen and (max-width:640px) {
  .hero-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .hero-content {
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    .hero-img {
      width: 100%;

      img {
        width: 100%;
        height: unset;
      }
    }
  }
}