@use "../../assets/styles/variables" as *;

.nav-container {
  .logo {
    background: url("../../assets/pics/WhatsApp\ Image\ 2025-06-11\ at\ 20.35.03.jpeg")
      no-repeat center center/cover;
    width: 100px;
    height: 100px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

  }

}
