@use "../../assets/styles/variables" as *;

.about-container {
  display: flex;
  padding: 100px 40px;
  justify-content: space-between;
  gap: 30px;
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 2;
    h1 {
      font-size: $hero-title;
      letter-spacing: 2px;
      font-style: oblique;
      text-align: right;
    }
    h3 {
      font-size: $font-size-base;
      text-align: right;
    }
  }
  .about-img {
    flex: 1;
    img {
      width: 500px;
      height: 300px;
    }
  }
}


@media screen and (max-width: 1024px) {
  .about-container {
    align-items: center;
    .about-img {
      img {
        width: 300px;
        height: 200px;
      }
    }
  }
}

@media screen and (max-width:900px) {
  .about-content {
    h1 {
      font-size: $font-lg !important;
    }
  }
}

@media screen and (max-width:640px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .about-content {
      align-items: center;

      h1, h3{
        text-align: center;
      }
    }

    .about-img {
      width: 100%;

      img {
        width: 100%;
        height: unset;
      }
    }
  }
}