@use "../../assets/styles/variables" as *;

.contact {
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: #ffffff1a;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-medium;
  padding: $padding-card;
  justify-self: center;
  direction: rtl;

  .contact-form {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;

    label {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      font-size: 16px;

      input, textarea {
        width: 100%;
        height: 100%;
        padding: 6px;
        font-size: 16px;
        border: 1px solid #ccc;
        border: none;
        transition: border 0.3s ease;
        background-color: transparent;
        border-bottom: 1px solid #fff;
        direction: rtl;

        &:focus {
          border-color: #ffffff73;
          outline: none;
        }
      }
      textarea {
        resize: none;
      }
    }

    button {
      padding: 10px;
      font-size: 16px;
      background-color: #0077ff;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #005fcc;
      }
    }
  }
}

.card {
  border: 1px solid #fff;
  border-radius: 10px;
  height: 250px;
  background-color: #ffffff1a;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: $gap-medium;
  padding: $padding-card;
  .card-img {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #608bc1;
    .img {
      &.spin {
        animation: spin 3s linear infinite;
      }
    }
  }
  .card-title {
    font-size: $font-lg;
    font-weight: bold;
  }
  .card-subtitle {
    font-size: $font-size-base;
    text-align: right;
  }
}


@media (max-width: 430px) {
  .contact {
    .contact-form {
      width: 100% !important;
    }
  }
}