@use "./assets/styles/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  /* background-color: rgba(15, 23, 42, 1); */
  background: $main no-repeat center center/cover;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}