@use "../../assets/styles/variables" as *;

.nav-container {
  .logo {
    background: url("../../assets/pics/WhatsApp\ Image\ 2025-06-11\ at\ 20.35.03.jpeg")
      no-repeat center center/cover;
    width: 100px;
    height: 100px;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;

    .nav-list {
      direction: rtl;
      display: flex;
      gap: $gap-medium;
      font-size: $font-lg;

      .link-wrapper {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: #fff;

        .underline {
          position: relative;
          height: 2px;
          width: 100%;
          max-width: 120px;
          background-color: rgba(255, 255, 255, 0.35);
          overflow: hidden;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0%;
            background-color: #fff;
            transition: width 1.2s ease;
          }
        }

        &:hover .underline::after {
          width: 100%;
        }
      }
    }
  }

  .nav-wrapper-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;

    .nav {
      .hamburger {
        font-size: $font-md;
        cursor: pointer;
        transition: all 1s ease;
      }
      .open {
        transform: rotate(90deg);
      }

      .nav-list {
        position: fixed;
        background-color: rgba(36, 50, 67, 0.833);
        box-shadow: $shadow;
        top: 100px;
        right: -100px;
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        font-size: $font-md;
        transition: all 1s ease;
        padding: 0;
        border-radius: $border-radius;

        &.show {
          padding: 10px 80px;
          right: 10px;
          z-index: 99999;
        }

        .link-wrapper {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5px;
          color: #fff;


          .underline {
            position: relative;
            height: 2px;
            width: 100%;
            max-width: 120px;
            background-color: rgba(255, 255, 255, 0.35);
            overflow: hidden;

            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 0%;
              background-color: #fff;
              transition: width 1.2s ease;
            }
          }

          &:hover .underline::after {
            width: 100%;
          }
        }
      }
    }
  }
}
